In [1]:
import pandas as pd

In [2]:
ORCA_04_2023=pd.read_csv(r"/Users/shakibanaderian/Desktop/Research/ORCA card/kcm_ridership/arsalan/TAZ.csv")

In [3]:
PSRC_2018=pd.read_csv(r"/Users/shakibanaderian/Desktop/Research/ORCA card/PSRC trip data/TAZ_PSRC.csv")

In [9]:
ORCA_04_2023=ORCA_04_2023.sort_values(['Origin','Destination']).reset_index()
ORCA_04_2023

         index          OD Pairs  Origin  Destination  Flows
0       224207      (1.0, 256.0)     1.0        256.0      1
1       224204      (1.0, 320.0)     1.0        320.0      1
2       224203      (1.0, 435.0)     1.0        435.0      6
3       224208      (1.0, 437.0)     1.0        437.0      3
4       224201      (1.0, 455.0)     1.0        455.0     15
...        ...               ...     ...          ...    ...
241913  193716  (3436.0, 3399.0)  3436.0       3399.0      6
241914  193700  (3436.0, 3400.0)  3436.0       3400.0      7
241915  193745  (3436.0, 3435.0)  3436.0       3435.0      2
241916  193722  (3436.0, 3436.0)  3436.0       3436.0      4
241917   23718      (nan, 700.0)     NaN        700.0      1

[241918 rows x 5 columns]

In [5]:
PSRC_2018

         otaz  dtaz  count
0           1     1     47
1           1     2     68
2           1     3     66
3           1     4     71
4           1     5     15
...       ...   ...    ...
2598592  3951  3416      1
2598593  3951  3425      1
2598594  3951  3437      1
2598595  3951  3441      1
2598596  3951  3463      1

[2598597 rows x 3 columns]

In [10]:
PSRC_2018['dtaz'].nunique()

3835

In [15]:
ORCA_04_2023['Destination'].nunique()

2342

In [14]:
max(PSRC_2018['dtaz'])

3951

In [13]:
max(ORCA_04_2023['Destination'])

3436.0