In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/shakibanaderian/Desktop/Research/ORCA card/kcm_ridership/arsalan'

In [4]:
os.chdir('C:/Users/arsalan/UW/og_fhwa_kcm_transit_2021start - General/Analysis on ORCA data')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/arsalan/UW/og_fhwa_kcm_transit_2021start - General/Analysis on ORCA data'

In [1]:
ORCA_2023 = pd.read_csv('2023-04_orca_boardings.csv')

NameError: name 'pd' is not defined

In [106]:
ORCA_2023.head()

,txn_id,boarding_guid,txn_type_id,card_id,passenger_type_id,passenger_count,product_id,business_date,device_id,device_dtm_pacific,...,participant_group_id,stop_id,stop_code,ticket_internal_nbr,osfa_cents,ceffv_cents,total_journey_fare_cents,linked_journey_fare_cents,epurse_equivalent_cents,load_start_dtm
0,200000000,146580sc-70-67-643077ef45e,66,84105,1,1,NaN,2023-04-07,14658.0,2023-04-07 13:07:11,...,NaN,96438052.0,344,501,200,200,400,200,100,2023-04-08 09:58:31
1,200000010,1283408o-70-19-643077f0ad2,66,3096144,1,1,NaN,2023-04-07,12834.0,2023-04-07 13:07:12,...,NaN,96398820.0,2220,307,275,275,275,275,275,2023-04-08 09:58:31
2,200000012,16043092-70-147-643077f01f4,66,461903,1,1,NaN,2023-04-07,16043.0,2023-04-07 13:07:12,...,NaN,96395266.0,10225,307,275,275,275,275,275,2023-04-08 09:58:31
3,200000016,1588004h-70-48-643066c649e,84,499699,1,1,NaN,2023-04-07,14672.0,2023-04-07 13:07:12,...,NaN,NaN,4074,200,325,325,875,325,121,2023-04-08 09:58:31
4,200000018,153140d8-70-59-643077f08e0,66,23183,1,1,1014.0,2023-04-07,15314.0,2023-04-07 13:07:12,...,28328.0,96397360.0,17140,307,275,275,275,275,275,2023-04-08 09:58:31

In [107]:
ORCA_2023.shape

(5229140, 32)

In [108]:
ORCA_2023['card_id'].nunique()

349964

In July, about 397,000 people rode King County Metro transit on an average weekday citywide, about 66,000 of them on BRT lines. More than 66,000 rode Sound Transit Express buses every day throughout their whole network, too. Trains, light rail, and streetcars made up 8 percent of commutes, the survey found (curbed.com, 2017).

In [109]:
ORCA_2023['stop_code'].nunique()

9057

In [110]:
ORCA_2023['stop_id'].nunique()

7838

Based on the analysis on the APC data it should be around 7000 bus stops in King County. Stop_id column has NAN values but is more accurate.

In [111]:
ORCA_2023['device_id'].nunique()

3000

In [112]:
ORCA_2023['business_date'].nunique()

30

In [113]:
# Group by 'card_id' and count unique 'stop_id' values within each group
bus_usage_count = ORCA_2023.groupby('card_id')['stop_code'].nunique()
# Create a new DataFrame to display the results
bus_usage_df = pd.DataFrame({'card_id': bus_usage_count.index, 'Number_of_Buses_Used': bus_usage_count.values})

# Display the resulting DataFrame
print(bus_usage_df)

        card_id  Number_of_Buses_Used
0             1                     7
1             2                    15
2             4                    15
3             5                     8
4             6                     3
...         ...                   ...
349959  3577246                     3
349960  3577863                     1
349961  3577981                     2
349962  3578120                     1
349963  3578298                     1

[349964 rows x 2 columns]

In this code:

We use the groupby method to group the DataFrame by the "card_id" column.
Then, we apply the nunique function to count the unique "stop_id" values within each group.
We create a new DataFrame (bus_usage_df) to display the results, with "card_id" and "Number_of_Buses_Used" as the column names.
Finally, we print the resulting DataFrame, which will show the number of buses each person used.
This code will give you a DataFrame where each row represents a unique "card_id" along with the corresponding number of buses used by that person.

In [114]:
# Group by 'card_id' and count 'stop_id' values within each group
bus_stops_count = ORCA_2023.groupby('card_id')['stop_code'].count()

# Create a new DataFrame to display the results
bus_stops_df = pd.DataFrame({'card_id': bus_stops_count.index, 'Number_of_Stops_Used': bus_stops_count.values})

# Display the resulting DataFrame
print(bus_stops_df)

        card_id  Number_of_Stops_Used
0             1                    15
1             2                    57
2             4                    42
3             5                    42
4             6                    29
...         ...                   ...
349959  3577246                     3
349960  3577863                     1
349961  3577981                     2
349962  3578120                     1
349963  3578298                     1

[349964 rows x 2 columns]

In [115]:
# Group by 'card_id' and 'business_date', then count unique 'stop_id' values within each group
unique_bus_stops_count = ORCA_2023.groupby(['card_id', 'business_date'])['stop_code'].nunique().reset_index()

# Rename the 'stop_id' column to 'Number_of_Unique_Stops_Used'
unique_bus_stops_count.rename(columns={'stop_code': 'Number_of_Unique_Stops_Used'}, inplace=True)

# Display the resulting DataFrame
print(unique_bus_stops_count)

         card_id business_date  Number_of_Unique_Stops_Used
0              1    2023-04-02                            2
1              1    2023-04-03                            1
2              1    2023-04-04                            2
3              1    2023-04-12                            1
4              1    2023-04-18                            2
...          ...           ...                          ...
2272302  3577246    2023-04-29                            3
2272303  3577863    2023-04-30                            1
2272304  3577981    2023-04-30                            2
2272305  3578120    2023-04-29                            1
2272306  3578298    2023-04-30                            1

[2272307 rows x 3 columns]

In [116]:
# Group by 'card_id' and 'business_date', then count 'stop_id' values within each group
bus_stops_count = ORCA_2023.groupby(['card_id', 'business_date'])['stop_code'].count().reset_index()

# Rename the 'stop_id' column to 'Number_of_Stops_Used'
bus_stops_count.rename(columns={'stop_code': 'Number_of_Stops_Used'}, inplace=True)

# Display the resulting DataFrame
print(bus_stops_count)

         card_id business_date  Number_of_Stops_Used
0              1    2023-04-02                     2
1              1    2023-04-03                     1
2              1    2023-04-04                     2
3              1    2023-04-12                     1
4              1    2023-04-18                     2
...          ...           ...                   ...
2272302  3577246    2023-04-29                     3
2272303  3577863    2023-04-30                     1
2272304  3577981    2023-04-30                     2
2272305  3578120    2023-04-29                     1
2272306  3578298    2023-04-30                     1

[2272307 rows x 3 columns]

In [117]:
# Group by 'card_id' and count unique 'business_date' values within each group
bus_days_count = ORCA_2023.groupby('card_id')['business_date'].nunique().reset_index()

# Rename the 'business_date' column to 'Number_of_Days_Used'
bus_days_count.rename(columns={'business_date': 'Number_of_Days_Used'}, inplace=True)

# Display the resulting DataFrame
print(bus_days_count)

        card_id  Number_of_Days_Used
0             1                   10
1             2                   27
2             4                   17
3             5                   20
4             6                   15
...         ...                  ...
349959  3577246                    1
349960  3577863                    1
349961  3577981                    1
349962  3578120                    1
349963  3578298                    1

[349964 rows x 2 columns]

In [118]:
# Group by 'business_date' and calculate the sum of 'Number_of_Stops_Used' for each date
daily_stops_sum = bus_stops_count.groupby('card_id')['Number_of_Stops_Used'].sum().reset_index()

# Rename the 'Number_of_Stops_Used' column to 'Total_Stops_Used_Per_Day'
daily_stops_sum.rename(columns={'Number_of_Stops_Used': 'Total_Stops_Used_Per_Month'}, inplace=True)

# Display the resulting DataFrame with the total stops used per day
print(daily_stops_sum)

        card_id  Total_Stops_Used_Per_Month
0             1                          15
1             2                          57
2             4                          42
3             5                          42
4             6                          29
...         ...                         ...
349959  3577246                           3
349960  3577863                           1
349961  3577981                           2
349962  3578120                           1
349963  3578298                           1

[349964 rows x 2 columns]

In [119]:
# Merge the 'daily_stops_sum' DataFrame with 'bus_days_count' on 'card_id' using an inner join
merged_data = pd.merge(daily_stops_sum, bus_days_count, on='card_id', how='inner')

# Calculate the average number of bus stops in each month for each user
merged_data['Average_Stops_Per_Day_Per_Month'] = merged_data['Total_Stops_Used_Per_Month'] / merged_data['Number_of_Days_Used']

# Display the resulting DataFrame
print(merged_data[['card_id', 'Average_Stops_Per_Day_Per_Month']])

        card_id  Average_Stops_Per_Day_Per_Month
0             1                         1.500000
1             2                         2.111111
2             4                         2.470588
3             5                         2.100000
4             6                         1.933333
...         ...                              ...
349959  3577246                         3.000000
349960  3577863                         1.000000
349961  3577981                         2.000000
349962  3578120                         1.000000
349963  3578298                         1.000000

[349964 rows x 2 columns]

In [120]:
# Group by 'card_id' and 'stop_id', then count the occurrences of each 'stop_id'
stop_usage_count = ORCA_2023.groupby(['card_id', 'stop_code']).size().reset_index(name='Stop_Frequency')

# Display the resulting DataFrame
print(stop_usage_count)

         card_id stop_code  Stop_Frequency
0              1      1110               1
1              1      1120               1
2              1      1180               4
3              1      2680               1
4              1      3034               1
...          ...       ...             ...
1881735  3577863      1108               1
1881736  3577981       501               1
1881737  3577981    990001               1
1881738  3578120      2727               1
1881739  3578298     99903               1

[1881740 rows x 3 columns]

In [121]:
# Calculate the total number of stops used for each card_id
total_stops_used = ORCA_2023.groupby('card_id')['stop_code'].count().reset_index()
total_stops_used.rename(columns={'stop_code': 'Total_Stops_Used'}, inplace=True)

# Merge the total stops used with the stop_usage_count DataFrame
stop_usage_count = pd.merge(stop_usage_count, total_stops_used, on='card_id')

# Display the resulting DataFrame
print(stop_usage_count)

         card_id stop_code  Stop_Frequency  Total_Stops_Used
0              1      1110               1                15
1              1      1120               1                15
2              1      1180               4                15
3              1      2680               1                15
4              1      3034               1                15
...          ...       ...             ...               ...
1881735  3577863      1108               1                 1
1881736  3577981       501               1                 2
1881737  3577981    990001               1                 2
1881738  3578120      2727               1                 1
1881739  3578298     99903               1                 1

[1881740 rows x 4 columns]

In [47]:
# Save the stop_usage_count DataFrame to a CSV file
stop_usage_count.to_csv('stop_usage_data.csv', index=False)

In [48]:
total_stops_used = ORCA_2023.groupby('card_id')['stop_id'].nunique().reset_index()
total_stops_used.rename(columns={'stop_id': 'Total_Stops_Used_unique'}, inplace=True)

# Merge the total stops used with the stop_usage_count DataFrame
stop_usage_count = pd.merge(stop_usage_count, total_stops_used, on='card_id')

# Display the resulting DataFrame
print(stop_usage_count)

         card_id     stop_id  Stop_Frequency  Total_Stops_Used  \
0              1  96395628.0               1                15
1              1  96395668.0               1                15
2              1  96395824.0               4                15
3              1  96400144.0               1                15
4              1  96401300.0               1                15
...          ...         ...             ...               ...
1660915  3577863  96440440.0               1                 1
1660916  3577981  96440452.0               1                 2
1660917  3577981  96440504.0               1                 2
1660918  3578120  96389210.0               1                 1
1660919  3578298  96440572.0               1                 1

         Total_Stops_Used_unique
0                              7
1                              7
2                              7
3                              7
4                              7
...                          ...
1660915                        1
1660916                        2
1660917                        2
1660918                        1
1660919                        1

[1660920 rows x 5 columns]

In [50]:
# Save the stop_usage_count DataFrame to a CSV file
stop_usage_count.to_csv('stop_usage_data.csv', index=False)

CHANGING THE COORDINATION SYSTEM:

In [51]:
import pandas as pd
import pyproj

In [52]:
# Set the State Plane coordinate system for Washington State (EPSG:2926)
source_crs = pyproj.CRS.from_epsg(2926)

In [53]:
# Set the target coordinate system to WGS84 (EPSG:4326)
target_crs = pyproj.CRS.from_epsg(4326)

In [54]:
# Create a transformer to convert from source to target CRS
transformer = pyproj.Transformer.from_crs(source_crs, target_crs)

In [55]:
# Apply the transformation to the coordinates in the data frame
ORCA_2023['Latitude'], ORCA_2023['Longitude'] = transformer.transform(ORCA_2023['device_lat'].values, ORCA_2023['device_lng'].values)

In [56]:
ORCA_2023.to_csv("2023-04_orca_boardings_new_coordinates.csv", index=False)

The above projection did not work as it is not using the same coordinates as APC project. The values should just be devided by 1000000

In [58]:
# Convert the 'device_lat' column to the desired format
ORCA_2023['device_lat'] = ORCA_2023['device_lat'] / 1000000
ORCA_2023['device_lng'] = ORCA_2023['device_lng'] / 1000000
# Display the DataFrame with the updated 'device_lat' values
print(ORCA_2023)

            txn_id                boarding_guid  txn_type_id  card_id  \
0        200000000   146580sc-70-67-643077ef45e           66    84105
1        200000010   1283408o-70-19-643077f0ad2           66  3096144
2        200000012  16043092-70-147-643077f01f4           66   461903
3        200000016   1588004h-70-48-643066c649e           84   499699
4        200000018   153140d8-70-59-643077f08e0           66    23183
...            ...                          ...          ...      ...
5229135  215502026  1309503p-70-239-6447f515956           84   290829
5229136  215502058   1299609v-70-31-644800ca6a2           66    82178
5229137  215502186  1647608i-70-130-644806681a6           84   116508
5229138  215502298  13065013-70-108-64480a0f28e           84   279499
5229139  215502306    1299609y-70-1-64482403312           85  2962746

         passenger_type_id  passenger_count  product_id business_date  \
0                        1                1         NaN    2023-04-07
1                        1                1         NaN    2023-04-07
2                        1                1         NaN    2023-04-07
3                        1                1         NaN    2023-04-07
4                        1                1      1014.0    2023-04-07
...                    ...              ...         ...           ...
5229135                  1                1         NaN    2023-04-25
5229136                  1                1         NaN    2023-04-25
5229137                  1                1         NaN    2023-04-25
5229138                  4                1         3.0    2023-04-25
5229139                  5                1       236.0    2023-04-25

         device_id   device_dtm_pacific  device_lat  device_lng  \
0          14658.0  2023-04-07 13:07:11    0.000047 -122.446707
1          12834.0  2023-04-07 13:07:12    0.000048 -122.348403
2          16043.0  2023-04-07 13:07:12    0.000048 -122.334375
3          14672.0  2023-04-07 13:07:12    0.000047 -122.232008
4          15314.0  2023-04-07 13:07:12    0.000048 -122.326883
...            ...                  ...         ...         ...
5229135    12996.0  2023-04-25 09:28:54    0.000048 -122.335754
5229136    12996.0  2023-04-25 09:33:14    0.000048 -122.335754
5229137    12996.0  2023-04-25 10:03:09    0.000048 -122.335754
5229138    12996.0  2023-04-25 11:04:50    0.000048 -122.335754
5229139    12996.0  2023-04-25 12:03:31    0.000048 -122.335754

                                           device_location  \
0        0101000020E61000003CF9F4D8969C5EC082C476F700A1...
1        0101000020E610000003B5183C4C965EC0B1C398F4F7CE...
2        0101000020E61000006666666666955EC00F0BB5A679CF...
3        0101000020E6100000431A1538D98E5EC04F594DD713A7...
4        0101000020E610000093A7ACA6EB945EC075ADBD4F55D7...
...                                                    ...
5229135  0101000020E6100000136058FE7C955EC03C50A73CBACD...
5229136  0101000020E6100000136058FE7C955EC03C50A73CBACD...
5229137  0101000020E6100000136058FE7C955EC03C50A73CBACD...
5229138  0101000020E6100000136058FE7C955EC03C50A73CBACD...
5229139  0101000020E6100000136058FE7C955EC03C50A73CBACD...

         mounting_plate_number  source_agency_id  service_agency_id  \
0                          1.0                 6                  6
1                          1.0                 4                  4
2                          1.0                 4                  4
3                          1.0                 6                  7
4                          1.0                 4                  4
...                        ...               ...                ...
5229135                    1.0                 7                  7
5229136                    1.0                 7                  7
5229137                    1.0                 7                  7
5229138                    1.0                 7                  7
5229139                    1.0                 7                  7

         device_mode_id route_number  direction_id  coach_number  \
0                    30            1           4.0       10154.0
1                    30          674           4.0           NaN
2                    30           70           5.0        4501.0
3                    30          578           5.0        9723.0
4                    30           20           5.0        7216.0
...                 ...          ...           ...           ...
5229135              11       100479           4.0           NaN
5229136              11       100479           4.0           NaN
5229137              11       100479           4.0           NaN
5229138              11       100479           4.0           NaN
5229139              11       100479           4.0           NaN

         agency_gtfs_route_id  organization_id  participant_group_id  \
0                         NaN              NaN                   NaN
1                         NaN              NaN                   NaN
2                         NaN              NaN                   NaN
3                         NaN              NaN                   NaN
4                         NaN            334.0               28328.0
...                       ...              ...                   ...
5229135                   NaN              NaN                   NaN
5229136                   NaN              NaN                   NaN
5229137                   NaN              NaN                   NaN
5229138                   NaN              NaN                   NaN
5229139                   NaN          18498.0               28444.0

            stop_id stop_code  ticket_internal_nbr  osfa_cents  ceffv_cents  \
0        96438052.0       344                  501         200          200
1        96398820.0      2220                  307         275          275
2        96395266.0     10225                  307         275          275
3               NaN      4074                  200         325          325
4        96397360.0     17140                  307         275          275
...             ...       ...                  ...         ...          ...
5229135  96440448.0       455                  218         300          225
5229136  96440448.0       455                  218         300          250
5229137  96440448.0       455                  218         300          225
5229138  96440448.0       455                  215         100          100
5229139  96440448.0       455                  236         100          100

         total_journey_fare_cents  linked_journey_fare_cents  \
0                             400                        200
1                             275                        275
2                             275                        275
3                             875                        325
4                             275                        275
...                           ...                        ...
5229135                       450                        225
5229136                       250                        250
5229137                       800                        300
5229138                       200                        100
5229139                       100                        100

         epurse_equivalent_cents       load_start_dtm   Latitude  Longitude
0                            100  2023-04-08 09:58:31 -71.769136 -96.857442
1                            275  2023-04-08 09:58:31 -71.771883 -96.665120
2                            275  2023-04-08 09:58:31 -71.769921 -96.660933
3                            121  2023-04-08 09:58:31 -71.738368 -96.799978
4                            275  2023-04-08 09:58:31 -71.771840 -96.629546
...                          ...                  ...        ...        ...
5229135                      113  2023-05-03 08:58:16 -71.769451 -96.667869
5229136                      250  2023-05-03 08:58:16 -71.769451 -96.667869
5229137                       84  2023-05-03 08:58:16 -71.769451 -96.667869
5229138                       50  2023-05-03 08:58:16 -71.769451 -96.667869
5229139                      100  2023-05-03 08:58:16 -71.769451 -96.667869

[5229140 rows x 34 columns]

Adding locations to 'stop_usage_data.csv'

In [63]:
# Merge the 'device_lat' and 'device_lng' columns from 'ORCA_2023' into 'stop_usage_count' by 'stop_id'
stop_usage_count_with_location = pd.merge(stop_usage_count, ORCA_2023[['stop_id', 'device_lat', 'device_lng']], on='stop_id', how='left')

# Display the resulting DataFrame
print(stop_usage_count_with_location)

MemoryError: Unable to allocate 258. GiB for an array with shape (34660750933,) and data type int64

In [64]:
from sqlalchemy import create_engine

# Assuming 'stop_usage_count' and 'ORCA_2023' are your DataFrames

# Create a SQLite database and connect to it
db_engine = create_engine('sqlite:///mydatabase.db')

# Write DataFrames to the database
stop_usage_count.to_sql('stop_usage_count_table', db_engine, if_exists='replace', index=False)
ORCA_2023.to_sql('ORCA_2023_table', db_engine, if_exists='replace', index=False)

# Perform the merge in the database using SQL
query = """
SELECT a.*, b.device_lat, b.device_lng
FROM stop_usage_count_table AS a
LEFT JOIN ORCA_2023_table AS b
ON a.stop_id = b.stop_id;
"""

# Execute the SQL query and fetch the result into a DataFrame
merged_data = pd.read_sql_query(query, db_engine)

# Close the database connection
db_engine.dispose()

# Display the resulting DataFrame
print(merged_data)

KeyboardInterrupt:

In [2]:
#!pip install folium
import folium
import pandas as pd
import datetime
from datetime import timedelta

In [3]:
df_23 = pd.read_csv('2023-04_orca_boardings.csv')

/var/folders/fh/zynvgz3502n7wqtzvnrpjnj40000gn/T/ipykernel_51536/2433198100.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_23 = pd.read_csv('2023-04_orca_boardings.csv')

In [4]:
df_23

,txn_id,boarding_guid,txn_type_id,card_id,passenger_type_id,passenger_count,product_id,business_date,device_id,device_dtm_pacific,...,participant_group_id,stop_id,stop_code,ticket_internal_nbr,osfa_cents,ceffv_cents,total_journey_fare_cents,linked_journey_fare_cents,epurse_equivalent_cents,load_start_dtm
0,200000000,146580sc-70-67-643077ef45e,66,84105,1,1,NaN,2023-04-07,14658.0,2023-04-07 13:07:11,...,NaN,96438052.0,344,501,200,200,400,200,100,2023-04-08 09:58:31
1,200000010,1283408o-70-19-643077f0ad2,66,3096144,1,1,NaN,2023-04-07,12834.0,2023-04-07 13:07:12,...,NaN,96398820.0,2220,307,275,275,275,275,275,2023-04-08 09:58:31
2,200000012,16043092-70-147-643077f01f4,66,461903,1,1,NaN,2023-04-07,16043.0,2023-04-07 13:07:12,...,NaN,96395266.0,10225,307,275,275,275,275,275,2023-04-08 09:58:31
3,200000016,1588004h-70-48-643066c649e,84,499699,1,1,NaN,2023-04-07,14672.0,2023-04-07 13:07:12,...,NaN,NaN,4074,200,325,325,875,325,121,2023-04-08 09:58:31
4,200000018,153140d8-70-59-643077f08e0,66,23183,1,1,1014.0,2023-04-07,15314.0,2023-04-07 13:07:12,...,28328.0,96397360.0,17140,307,275,275,275,275,275,2023-04-08 09:58:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5229135,215502026,1309503p-70-239-6447f515956,84,290829,1,1,NaN,2023-04-25,12996.0,2023-04-25 09:28:54,...,NaN,96440448.0,455,218,300,225,450,225,113,2023-05-03 08:58:16
5229136,215502058,1299609v-70-31-644800ca6a2,66,82178,1,1,NaN,2023-04-25,12996.0,2023-04-25 09:33:14,...,NaN,96440448.0,455,218,300,250,250,250,250,2023-05-03 08:58:16
5229137,215502186,1647608i-70-130-644806681a6,84,116508,1,1,NaN,2023-04-25,12996.0,2023-04-25 10:03:09,...,NaN,96440448.0,455,218,300,225,800,300,84,2023-05-03 08:58:16
5229138,215502298,13065013-70-108-64480a0f28e,84,279499,4,1,3.0,2023-04-25,12996.0,2023-04-25 11:04:50,...,NaN,96440448.0,455,215,100,100,200,100,50,2023-05-03 08:58:16
5229139,215502306,1299609y-70-1-64482403312,85,2962746,5,1,236.0,2023-04-25,12996.0,2023-04-25 12:03:31,...,28444.0,96440448.0,455,236,100,100,100,100,100,2023-05-03 08:58:16

In [5]:
df_23['device_lat'] = df_23['device_lat'] / 1000000
df_23['device_lng'] = df_23['device_lng'] / 1000000
df_23

,txn_id,boarding_guid,txn_type_id,card_id,passenger_type_id,passenger_count,product_id,business_date,device_id,device_dtm_pacific,...,participant_group_id,stop_id,stop_code,ticket_internal_nbr,osfa_cents,ceffv_cents,total_journey_fare_cents,linked_journey_fare_cents,epurse_equivalent_cents,load_start_dtm
0,200000000,146580sc-70-67-643077ef45e,66,84105,1,1,NaN,2023-04-07,14658.0,2023-04-07 13:07:11,...,NaN,96438052.0,344,501,200,200,400,200,100,2023-04-08 09:58:31
1,200000010,1283408o-70-19-643077f0ad2,66,3096144,1,1,NaN,2023-04-07,12834.0,2023-04-07 13:07:12,...,NaN,96398820.0,2220,307,275,275,275,275,275,2023-04-08 09:58:31
2,200000012,16043092-70-147-643077f01f4,66,461903,1,1,NaN,2023-04-07,16043.0,2023-04-07 13:07:12,...,NaN,96395266.0,10225,307,275,275,275,275,275,2023-04-08 09:58:31
3,200000016,1588004h-70-48-643066c649e,84,499699,1,1,NaN,2023-04-07,14672.0,2023-04-07 13:07:12,...,NaN,NaN,4074,200,325,325,875,325,121,2023-04-08 09:58:31
4,200000018,153140d8-70-59-643077f08e0,66,23183,1,1,1014.0,2023-04-07,15314.0,2023-04-07 13:07:12,...,28328.0,96397360.0,17140,307,275,275,275,275,275,2023-04-08 09:58:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5229135,215502026,1309503p-70-239-6447f515956,84,290829,1,1,NaN,2023-04-25,12996.0,2023-04-25 09:28:54,...,NaN,96440448.0,455,218,300,225,450,225,113,2023-05-03 08:58:16
5229136,215502058,1299609v-70-31-644800ca6a2,66,82178,1,1,NaN,2023-04-25,12996.0,2023-04-25 09:33:14,...,NaN,96440448.0,455,218,300,250,250,250,250,2023-05-03 08:58:16
5229137,215502186,1647608i-70-130-644806681a6,84,116508,1,1,NaN,2023-04-25,12996.0,2023-04-25 10:03:09,...,NaN,96440448.0,455,218,300,225,800,300,84,2023-05-03 08:58:16
5229138,215502298,13065013-70-108-64480a0f28e,84,279499,4,1,3.0,2023-04-25,12996.0,2023-04-25 11:04:50,...,NaN,96440448.0,455,215,100,100,200,100,50,2023-05-03 08:58:16
5229139,215502306,1299609y-70-1-64482403312,85,2962746,5,1,236.0,2023-04-25,12996.0,2023-04-25 12:03:31,...,28444.0,96440448.0,455,236,100,100,100,100,100,2023-05-03 08:58:16

In [6]:
df_23['device_dtm_pacific'] = pd.to_datetime(df_23['device_dtm_pacific'])
df_23['business_date'] = pd.to_datetime(df_23['business_date'])
df_23['time_of_day'] = df_23['device_dtm_pacific'].dt.time
df_23 = df_23.sort_values(by=['card_id','business_date','time_of_day'], ascending=[True,True,True])

In [7]:
df_23=df_23[['card_id','business_date','time_of_day','device_lat','device_lng','stop_code','route_number']]

In [8]:
df_23

,card_id,business_date,time_of_day,device_lat,device_lng,stop_code,route_number
439379,1,2023-04-02,19:24:54,47.611710,-122.324195,3034,2
447746,1,2023-04-02,22:44:02,47.626855,-122.356853,2680,2
679314,1,2023-04-03,23:54:55,47.611960,-122.335771,1110,11
801361,1,2023-04-04,14:09:12,47.701158,-122.355461,5730,5
809699,1,2023-04-04,14:46:02,47.609986,-122.337038,1180,10
...,...,...,...,...,...,...,...
2410688,3577863,2023-04-30,08:59:06,47.611450,-122.337532,1108,100479
2415592,3577981,2023-04-30,10:56:32,47.659875,-122.314194,990001,100479
5216060,3577981,2023-04-30,16:25:07,47.602139,-122.331055,501,100479
5187245,3578120,2023-04-29,21:50:46,47.809686,-122.382485,2727,196
2441357,3578298,2023-04-30,18:48:30,47.445053,-122.296692,99903,100479

In [9]:
df_23.to_csv('df_23.csv', index=False)
num_rows = df_23.shape[0]
num_rows

5229140

In [ ]:
import random
def random_color():
    return "#{:02x}{:02x}{:02x}".format(random.randint(0, 200), random.randint(0, 200), random.randint(0, 200))


df_23 = df_23.dropna(subset=['device_lat','device_lng'])
num_rows = df_23.shape[0]
print(num_rows)
date = df_23.iloc[0]['business_date'].date()
card=df_23.iloc[0]['card_id']
co=random_color()

lat=df_23.iloc[0]['device_lat']
lng=df_23.iloc[0]['device_lng']
m = folium.Map(location=[lat, lng], zoom_start=12)
# for i in range(204900,num_rows):
line_repeat = {}
lines_drawn = set()
markers_drawn=set()
for i in range(num_rows):
    lat=df_23.iloc[i]['device_lat']
    lng=df_23.iloc[i]['device_lng']
    if(df_23.iloc[i]['card_id']==card):
        if(df_23.iloc[i]['business_date'].date()==date and (i>0)):
            marker1=(lat, lng)
            if marker1 not in markers_drawn:
                folium.Marker([lat, lng], tooltip=f"Stop ID: {df_23.iloc[i]['stop_code']}").add_to(m)
                markers_drawn.add(marker1)
            marker2=(df_23.iloc[i-1]['device_lat'], df_23.iloc[i-1]['device_lng'])
            if marker2 not in markers_drawn:
                folium.Marker([lat, lng], tooltip=f"Stop ID: {df_23.iloc[i]['stop_code']}").add_to(m)
                markers_drawn.add(marker2)
            folium.Marker([df_23.iloc[i-1]['device_lat'], df_23.iloc[i-1]['device_lng']], tooltip=f"Stop ID: {df_23.iloc[i-1]['stop_code']}").add_to(m)
            line = (marker1, marker2)
            if line not in lines_drawn:
                line_repeat[line]=0
                linee=folium.PolyLine(
                    locations=[[lat, lng], [df_23.iloc[i-1]['device_lat'], df_23.iloc[i-1]['device_lng']]],
                    color=co,
                    weight=2,
                    tooltip=f'Route number: {df_23.iloc[i]["route_number"]}'
                )
                linee.add_to(m)
                lines_drawn.add(line)
                m.save(f'map{card}.html')
            else:
                line_repeat[line] += 1
        else:
            date = df_23.iloc[i+1]['business_date']
    else:
        card=df_23.iloc[i]['card_id']
        co=random_color()
        m = folium.Map(location=[lat, lng], zoom_start=12)

5014206

/var/folders/fh/zynvgz3502n7wqtzvnrpjnj40000gn/T/ipykernel_51536/3881401927.py:24: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if(df_23.iloc[i]['business_date'].date()==date and (i>0)):
/var/folders/fh/zynvgz3502n7wqtzvnrpjnj40000gn/T/ipykernel_51536/3881401927.py:24: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if(df_23.iloc[i]['business_date'].date()==date and (i>0)):
/var/folders/fh/zynvgz3502n7wqtzvnrpjnj40000gn/T/ipykernel_51536/3881401927.py:24: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if(df_23.iloc[i]['business_date'].date()==date and (i>0)):

In [122]:
stop_usage_count

         card_id stop_code  Stop_Frequency  Total_Stops_Used
0              1      1110               1                15
1              1      1120               1                15
2              1      1180               4                15
3              1      2680               1                15
4              1      3034               1                15
...          ...       ...             ...               ...
1881735  3577863      1108               1                 1
1881736  3577981       501               1                 2
1881737  3577981    990001               1                 2
1881738  3578120      2727               1                 1
1881739  3578298     99903               1                 1

[1881740 rows x 4 columns]

In [123]:
stop_usage_count.to_csv('stop_usage_data.csv', index=False)

In [ ]:
date

In [168]:
df_232=df_23.sort_values(by=['card_id','business_date'], ascending=[True,True])

In [171]:
df_232[df_232['card_id']==41]

,card_id,business_date,time_of_day,device_lat,device_lng,stop_code,route_number
293046,41,2023-04-01,14:12:56,47.542303,-122.062425,64555,554
297980,41,2023-04-01,14:43:16,47.599155,-122.313368,11960,14
311072,41,2023-04-01,16:00:42,47.599138,-122.297455,11890,8
354006,41,2023-04-01,21:48:45,47.620293,-122.296148,43706,8
592936,41,2023-04-03,15:54:11,47.599368,-122.297691,11890,8
675744,41,2023-04-03,22:06:13,47.620588,-122.296156,43706,8
829240,41,2023-04-04,15:54:00,47.599333,-122.297533,11890,8
1583971,41,2023-04-05,20:30:34,47.599348,-122.297770,11890,8
2637641,41,2023-04-09,16:15:21,47.599153,-122.297456,11890,8
2650086,41,2023-04-09,19:44:58,47.620223,-122.296158,43706,8
2876946,41,2023-04-11,15:26:02,47.599165,-122.297461,11890,8
2936622,41,2023-04-11,21:45:02,47.620593,-122.296103,43706,8
2998523,41,2023-04-12,11:33:55,47.601730,-122.294948,27320,27
3000931,41,2023-04-12,11:56:49,47.604178,-122.333173,481,673
3072489,41,2023-04-12,18:27:30,47.552398,-122.387000,19830,673
3075533,41,2023-04-12,18:49:42,47.605130,-122.333543,480,14
3314011,41,2023-04-14,15:58:38,47.599373,-122.297720,11890,8
3414670,41,2023-04-15,15:58:01,47.599308,-122.297491,11890,8
3446614,41,2023-04-15,22:38:06,47.620456,-122.296148,43706,8
3592943,41,2023-04-17,16:00:09,47.599243,-122.297441,11890,8
3639907,41,2023-04-17,21:57:53,47.620323,-122.296180,43706,8
1420223,41,2023-04-18,21:41:52,47.620320,-122.296193,43706,8
3740147,41,2023-04-18,15:54:03,47.599380,-122.297628,11890,8
1483302,41,2023-04-19,18:05:01,47.624095,-122.356723,2672,1
3887566,41,2023-04-19,15:25:17,47.599341,-122.293568,11870,14
1933612,41,2023-04-21,15:10:00,47.599308,-122.292895,11870,14
1934816,41,2023-04-21,15:28:57,47.601683,-122.294816,27320,27
4170162,41,2023-04-21,15:20:08,47.599178,-122.313930,11960,14
4175894,41,2023-04-21,15:50:57,47.604583,-122.333125,481,673
4270683,41,2023-04-22,15:16:49,47.552213,-122.387030,19830,673
4275195,41,2023-04-22,15:55:43,47.618476,-122.338170,2255,8
4308424,41,2023-04-22,22:13:03,47.620491,-122.296116,43706,8
2006572,41,2023-04-23,13:52:49,47.604713,-122.333083,481,673
2019517,41,2023-04-23,21:54:46,47.605105,-122.333551,480,4
4335614,41,2023-04-23,13:22:21,47.599275,-122.293081,11870,14
4336783,41,2023-04-23,13:38:12,47.599243,-122.317453,3600,7
4367657,41,2023-04-23,21:21:39,47.551900,-122.387043,19830,673
4514484,41,2023-04-24,21:39:13,47.620336,-122.296196,43706,8
4620146,41,2023-04-25,15:57:58,47.599251,-122.297493,11890,8
4675253,41,2023-04-25,21:43:30,47.620348,-122.296143,43706,8
2184436,41,2023-04-26,12:12:35,47.599741,-122.302143,12550,48
2186757,41,2023-04-26,12:49:37,47.612458,-122.302781,35860,48
2191448,41,2023-04-26,14:04:10,47.601641,-122.295006,27320,27
2192915,41,2023-04-26,14:24:00,47.600420,-122.330290,515,21
5037373,41,2023-04-28,12:34:26,47.548123,-122.376313,22730,21
5040222,41,2023-04-28,12:58:38,47.599211,-122.328498,1471,14
5067703,41,2023-04-28,15:57:27,47.599276,-122.297450,11890,8
5113742,41,2023-04-28,22:07:15,47.619910,-122.296173,43706,8
2381158,41,2023-04-29,15:44:10,47.599378,-122.297891,11890,8
2402608,41,2023-04-29,21:50:37,47.618670,-122.307395,13270,12

In [174]:
trip_count = df_23.groupby('card_id')['business_date'].value_counts().reset_index(name='trip_count')

In [175]:
trip_count

         card_id business_date  trip_count
0              1    2023-04-02           2
1              1    2023-04-04           2
2              1    2023-04-18           2
3              1    2023-04-20           2
4              1    2023-04-24           2
...          ...           ...         ...
2194627  3577246    2023-04-29           3
2194628  3577863    2023-04-30           1
2194629  3577981    2023-04-30           2
2194630  3578120    2023-04-29           1
2194631  3578298    2023-04-30           1

[2194632 rows x 3 columns]

In [178]:
count_of_ones = (trip_count['trip_count'] == 1).sum()
count_of_non_ones = (trip_count['trip_count'] != 1).sum()
count_of_ones/(count_of_ones+count_of_non_ones)*100

30.075885159789888